[Desktop Entry]
Name=Bare (Aurorae)
X-KDE-PluginInfo-Author=sixsixfive
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC-BY-SA_V3
X-KDE-PluginInfo-Name=Bare_Aurorae
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=sixsixfive.debiantart.com
